{% load tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Django-easy-retail-api">
  <meta name="author" content="Demehin Ibukun">
  <link rel='icon'
    href='https://res.cloudinary.com/luvely/image/upload/v1681962447/eazy_vqxpzx.svg' />
  <title>Eazy Retail</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous">
  <!-- <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"> -->
  {% tailwind_css %}
  <script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>
</head>

<body role="document" class='' style='min-height: 100vh;'>
  <nav
    class='tw-flex tw-justify-between tw-items-center tw-px-4 tw-pt-2 tw-mx-auto tw-max-w-screen-2xl'>
    <div class=' tw-w-full'>
      <img src='https://res.cloudinary.com/luvely/image/upload/v1681962447/eazy_vqxpzx.svg'
        alt='website logo' style='width: 50px; height: 50px;' class='tw-object-contain tw-rounded-full tw-cursor-pointer
        tw-overflow-hidden' />
    </div>

    <div class='tw-flex tw-space-x-4'>
      <a href="{{ admin_url }}"
        class='tw-text-gray-500 tw-text-sm tw-font-semibold tw-uppercase tw-px-3 tw-py-2 tw-rounded-lg tw-transition-colors tw-duration-200 tw-hover:text-gray-800'>
        Admin
      </a>
      <a href="{{ docs_url }}" class='tw-text-gray-500 tw-text-sm tw-font-semibold tw-uppercase tw-px-3 tw-py-2
        tw-rounded-lg tw-transition-colors tw-duration-200 tw-hover:text-gray-800'>
        Docs
      </a>

    </div>
  </nav>
  <div class='tw-flex tw-min-h-[70vh]  tw-px-4 tw-mx-auto tw-max-w-screen-xl tw-mt-6'>
    <div class='tw-h-full tw-w-full tw-flex tw-justify-end tw-items-center'>
      <div
        class='tw-flex tw-items-center tw-space-x-2 tw-flex-col md:tw-flex-row tw-space-y-4 md:tw-space-y-0'>
        <div class='tw-space-y-4'>
          <div class='tw-flex tw-flex-col tw-space-y-2'>
            <p class='tw-text-3xl tw-font-extrabold  lg:tw-text-6xl md:tw-text-5xl tw-w-[80%]'>
              Eazy Retail Documentation
            </p>
            <!-- <Text class='tw-text-3xl tw-font-extrabold  sm:tw-text-6xl'>
            Documentation
          </Text> -->
          </div>
          <div>
            <p class='tw-font-semibold sm:tw-text-left sm:tw-text-xl sm:tw-text-gray-700'>
              A simple way to manage your retail store and keep track of your inventory
            </p>
          </div>
          <!-- <div class='tw-rounded-lg tw-my-6 tw-w-[85%]'>
          <p class='tw-font-bold tw-text-gray-700'>Use these credentials to view the admin panel</p>
          <p class='tw-font-bold tw-text-gray-700'>
            <span class='tw-text-gray-500'>Email: </span>
            <span class='tw-text-gray-700'>view@email.com</span>
          </p>
          <p class='tw-font-bold tw-text-gray-700'>
            <span class='tw-text-gray-500'>Password: </span>
            <span class='tw-text-gray-700'>lolaview1</span>
          </p>
        </div> -->
          <div class=' tw-flex tw-space-x-2 tw-pt-3 sm:tw-pt-8'>

            <a href="{{ docs_url }}"
              class='tw-flex tw-items-center tw-justify-center tw-rounded-lg tw-bg-black tw-px-4 tw-py-1  tw-font-semibold tw-text-white tw-ring-1 tw-ring-gray-200 tw-transition tw-delay-150 tw-duration-300 tw-ease-in-out hover:-tw-translate-y-1 hover:tw-scale-110 hover:tw-bg-yellow-500 hover:tw-text-black hover:tw-shadow-md hover:tw-shadow-gray-600 active:tw-scale-90 active:tw-shadow-md active:tw-shadow-gray-600 sm:tw-px-6 sm:tw-py-2 sm:tw-text-lg'>
              Documentation
            </a>

          </div>
        </div>
        <div class='tw-h-[20rem] tw-w-full sm:tw-h-[25rem] lg:tw-h-[30rem] tw-flex tw-items-center'>
          <img src='https://res.cloudinary.com/luvely/image/upload/v1681964999/eazy1_vcso9e.png'
            alt='Eazy Retail'
            class='tw-h-[20rem] tw-w-full sm:tw-h-[25rem] lg:tw-h-[30rem] tw-object-contain' />
        </div>

      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"></script>
</body>

</html>